<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio File Upload</title>
  </head>
  <body>
    <form method="POST" class="form1" id="uploadForm" enctype="multipart/form-data">
      <input  type="text" name="ablumName" id="ablumName" />
      <input type="file" id="audioFileInput" name="audioFileInput" accept=".mp3, .wav" multiple />
      <div>
        <input type="number" name="" id="parm1" />
        <input type="number" name="parm2" id="parm2" />
      </div>
      <input type="text" name="parm3" id="parm3" />
      <input type="text" name="parm4" id="parm4" />
      <button type="button" onclick="uploadAudio()">create ablum</button>
    </form>
    <h1>Music Player</h1>
    <input type="file" id="audioFile" accept="audio/*">
    <br>
    <button type="button" onclick="loadMusic()">Load Music</button>
    <button type="button" onclick="playMusic()">Play Music</button>
    <button type="button" onclick="pauseMusic()">Pause Music</button>
    <br>
    <audio id="musicPlayer">
      
    </audio>

    <script>
      function loadMusic() {
        const file = document.getElementById('audioFile').files[0];
        if (!file) {
          alert('Please select an audio file!');
          return;
        }
        const audioPlayer = document.getElementById('musicPlayer');
        audioPlayer.src = URL.createObjectURL(file);
      }

      function playMusic() {
        const audioPlayer = document.getElementById('musicPlayer');
        audioPlayer.play();
      }

      function pauseMusic() {
        const audioPlayer = document.getElementById('musicPlayer');
        audioPlayer.pause();
      }
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script>
      var socket = io.connect("http://127.0.0.1:5000");

      function uploadAudio() {
        var fileInput = document.getElementById("audioFileInput");
        var file = fileInput.files[0];

        fetch("http://127.0.0.1:5000/add", {
          method: "POST",
          body: file,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
